/**** font *****************************/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
/***************************************/

* {
  font-family: "Roboto", sans-serif;
}

.big {
  font-size: 20px;
  font-weight: 600;
}

#score {
  font-size: 17px;
}

#score-text {
  font-weight: 600;
}
#score-number {
  font-weight: 400;
}

#gameboard {
  background-color: white;
  border: 2px solid black;
  color:rgb(255, 251, 0);
}

#score-points-added {
  font-weight: 200;
}

.nomargin {
  margin: 0;
}

.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: green;
}

.points {
  font-weight: 500;
}

.options-menu {
  width: 38%;
  max-height: 90%;
  position: relative;
  float: left;
}
#game-container {
  width: 55%;
  height: 70%;
}

.select-level {
  margin-top: 10px;
  font-weight: 400;
  border-color: black;
  border-radius: 5px;
  width: 25%;
  height: 25px;
  border: 0;
  float: left;
  margin-right: 10px;
  margin-left: 10px;
}

.button-color-green {
  background-color: rgb(34, 206, 0);
}
.button-color-green:hover {
  background-color: rgb(95, 253, 63);
}

.button-color-yellow {
  background-color: rgb(206, 206, 0);
}
.button-color-yellow:hover {
  background-color: rgb(207, 230, 0);
}

.button-color-red {
  background-color: red;
}
.button-color-red:hover {
  background-color: rgb(255, 62, 62);
}